body {
  font-family: 'Merriweather', serif;
  margin: 0;
  padding: 0;
  color: #3c3c3c;
}

div {
  box-sizing: border-box;
}

header {
  background: url(../img/header-bg.jpg) no-repeat center top / cover;
  height: 100vh;
}

.main-container {
  max-width: 1488px;
  margin: 0 auto;
}

.right-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end
}

.header-container {
  width: 620px;
}

nav {
  margin-top: 53px;
}

nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
}

nav li {
  padding: 16px 24px;
  font-size: 18px;
}

nav li:not(:last-child) {
  margin-right: 14px;
}

.menu-selected {
  border: 0.8px solid #3c3c3c;
}

nav a {
  color: #3c3c3c;
  text-decoration: none;
}

.title-container {
  width: 524px;
  margin-top: 315px;
  text-align: center;
}

.title-container h1,
.title-container h2 {
  margin: 0;
  font-size: 40.5px;
  font-weight: 300;
  letter-spacing: -0.8px;
  line-height: 1.37;
}

.title-container img {
  margin-top: 41px;
}

#promo {
  background: url(../img/promo-bg-cut.jpg) no-repeat center top / cover;
  padding: 57px 0 87px 0;
}

.promo-items {
  display: flex;
  justify-content: space-between;
}

.promo-item {
  width: 373px;
  text-align: center;
}

.promo-item__img {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100px;
}

.promo-item h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  letter-spacing: -0.4px;
  text-transform: uppercase;
  margin: 38px 0 30px 0;
}

.promo-item p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.13;
  letter-spacing: -0.3px;
  margin: 0;
}
