/* normalize.css is used */

body {
  font-family: 'Merriweather', serif;
  color: #3c3c3c;
}

div {
  box-sizing: border-box;
}


/* Common styles */

.main-container {
  max-width: 1520px;
  margin: 0 auto;
  padding: 0 16px;
}

.left-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.right-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* 'Header' section */

#header {
  background: url(../img/header-bg.jpg) no-repeat center top / cover;
  height: 100vh;
}

.header-inner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}


/* Navigation */

.nav {
  margin-top: 5.5vh;
}

.nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
}

.nav li {
  font-size: 18px;
  box-sizing: border-box;
  padding: 0px 24px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.nav li:not(:last-child) {
  margin-right: 14px;
}

.nav-selected {
  border: 0.8px solid #3c3c3c;
}

.nav a {
  color: #3c3c3c;
  text-decoration: none;
}


/* Heading */

.heading {
  margin: 56px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading > h1 {
  margin: 16px 0px;
  font-size: 40.5px;
  font-weight: 300;
  letter-spacing: -0.8px;
  line-height: 1.37;
}

.heading h3 {
  font-size: 18px;
  text-transform: uppercase;
}

.heading p {
  font-size: 30.5px;
  font-weight: 300;
  line-height: 1.79;
  letter-spacing: -0.6px;
}

.heading p.regular-text {
  font-size: 16px;
}

.heading img {
  margin: 16px 0px;
}


/* 'Promo' section */

#promo {
  background: url(../img/promo-bg-cut.jpg) no-repeat center top / cover;
  padding: 57px 0 87px 0;
}

.promo-items {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.promo-item {
  width: 373px;
  text-align: center;
}

.promo-item h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  letter-spacing: -0.4px;
  text-transform: uppercase;
  margin: 38px 0 30px 0;
}

.promo-item p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.13;
  letter-spacing: -0.3px;
  margin: 0;
}

#noodle-img {
  position: relative;
  left: 8px;
}


/* 'Specials' section */

#specials {
  padding-bottom: 104px;
}

.specials-items {
  display: flex;
  flex-wrap: wrap;
}

.special-item {
  width: 496px;
  display: flex;
}

.specials-item-text {
  width: 248px;
  height: 248px;
  background-color: #f8f8f8;
  text-align: center;
}


/* 'About' section */

#about {
  background-color: #eeefef;
}

.about-container {
  display: flex;
  justify-content: space-between;
}


/* 'Menu' section */

#menu-section {
  padding-bottom: 85px;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.meal-name {
  font-size: 18.5px;
  font-weight: 300;
  letter-spacing: -0.4px;
  margin: 42px 0 0 0;
}

.meal-ingredients {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: -0.3px;
  margin: 7px 0 0 0;
}


/* 'Contact' section */

footer {
  background: url('../img/footer-bg.jpg') no-repeat center top / cover;
  height: 967px;
}

footer form {
  margin-top: 102px;
  width: 100%;
}

.form-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

footer input {
  border: none;
  background: transparent;
  border-bottom: 1px solid #3c3c3c;
  font-size: 18px;
  font-style: italic;
  margin-bottom: 72px;
}

footer input[name="name"] {
  width: 254px;
}

footer input[name="email"] {
  width: 254px;
}

footer input[name="message"] {
  width: 100%;
}

.contact-container {
  text-align: left;
}

.contact-inner {
  display: flex;
  justify-content: space-between;
}

.contact-item {
  width: 216px;
}

.contact-item p {
  margin: 0;
}